# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
.dist/
build/
out/

# Cache
.cache/
.astro/

# Debug logs
npm-debug.log*

# Local development
.DS_Store

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/

# Production
.cache/
.temp/

# Local Netlify folder
.netlify
